.product{
    display: flex;
    border-bottom: 1px solid navy;
    margin: 10px;
    padding-bottom: 10px;

}
.product-img{
    margin: 5px;
    padding: 10px;
    margin-right: 20px;
    background-color: cadetblue;
    border-radius: 10px;
}
.product-details{
    margin-left: 10px;
    margin: 5px;
    padding: 10px;
    background-color: slategrey;
    border-radius: 10px;
}
.product-details h3{
    color: navy;
    font-weight: 400;
}
.btn{
    background-color: goldenrod;
    height: 30px;
    width: 200px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    cursor: pointer;

}